<!doctype html>
<html>
<head>
    <title>#title#</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="、这不科学" />
    <meta name="application-name" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" />
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">

    <meta name="description" itemprop="description" content="" />
    <meta name="keywords" itemprop="keywords" content="" />
    <link rel="stylesheet" href="/static/dist/style.css">
    <!--<link href="/static/css/styles.css" rel="stylesheet">-->
</head>
<body>
<div id="app">#app#</div>
<script>
    window.__data_init__ = #init#;
</script>
<script src="/static/dist/main.js"></script>
</body>
</html>