@keyframes links {
    0% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }
}
.blog #header .nav .nav-bg{
    height: 5em;
    overflow: hidden;
}
.blog-banner{
    width: 100%;
    height: 35em;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0,0,0,0.2) 0 1px 5px;
    border-bottom: 1px solid #e44c65;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.blog-banner >.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
.blog-banner >.bg-mask{
    position: absolute;
    top: 0;
    z-index: 5;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blog-wrap{
    width: 100%;
    min-height: 20vh;
    overflow: hidden;
    padding: 4em 10em;
    /*font-weight: 300;*/
}
.blog-wrap .blog-group{
    width: 40%;
    float: right;
    padding: .5em;
}
.blog-group nav{
    display: none;
}
.recommend-item{
    width: 100%;
    background: rgba(255,255,255,.85);
    border-radius: 4px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    margin-bottom: 5em;
}
.recommend-item .recommend-item-inner{
    width: 100%;
}
.recommend-item .recommend-item-container{
    padding: 15px 45px 15px 15px;
}
.recommend-item .recommend-item-more{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background: #333;
    width: 30px;
    padding: 0 9px;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommend-item .recommend-item-header{
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.recommend-item .recommend-item-header .name{
    float: left;
    padding-left: 1em;
    font-size: 1.15em;
    color: #666;
}
.recommend-item .recommend-item-header .story-intro {
    float: left;
    height: 17px;
    min-height: 1.1em;
    margin: 5px 0 0 20px;
    color: #999;
    font-size: 0.75em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 20px);
}
.recommend-item .recommend-item-main{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 15em;
    padding: 0 5%;
}
.recommend-item .recommend-item-main p{
    overflow: hidden;
    line-height: 1.75em;
    max-height: 3.5em;
}
.main-wrap .main-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1099;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1200px){
    .blog #header .nav .nav-bg{
        height: 22em;
    }
    .blog-banner{
        height: 22em;
    }
    .blog-wrap{
        padding: 4em 3em;
    }
    .recommend-item .recommend-item-main {
        min-height: 8em;
    }


}
@media screen and (max-width: 1000px){
    .blog #header .nav .nav-bg{
        height: 18em;
    }
    .blog-banner{
        height: 18em;
    }
    .blog-wrap{
        padding: 0;
    }
    .blog-wrap .blog-group{
        display: none;
    }
}
@media screen and (max-width: 736px){
    .blog #header .nav{
        display: none;
    }
    .blog #header .nav .nav-bg{
        height: 12em;
    }
    .blog-banner{
        margin-top: 44px;
        height: 12em;
        background-attachment: inherit;
    }
    .blog-wrap{
        padding: 0;
    }
    .main-wrap.blog.group-panel-visible{

    }
    .main-wrap.blog .blog-group{
        z-index: 1999;
        width: calc(100% - 5em);
        background: #181920;
        display: block;
        transform: translate3d(calc(100% + 5em),0,0);
        transition: transform .5s ease;
        position: fixed;
        top: 0;
        overflow-y: auto;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }
    .main-wrap.blog .bounceInRight{
        animation-name: none;
    }
    .main-wrap.blog.group-panel-visible .blog-group{
        transform: translate3d(5em,0,0);
        top: 0;
    }
    .blog-group nav{
        display: block;
    }
    .blog-group nav ul{
        margin: .5em 0;
        overflow: hidden;
    }
    .blog-group nav ul li{
        width: 25%;
        float: left;
    }
    .blog-group nav a{
        display: inline-block;
        font-size: 1em;
    }
    .blog-group nav a{
        color: white;
    }
    .blog-group nav a.hover{
        color: #e44c65;
        font-weight: 700;
    }
    .recommend-item{
        margin-bottom: 1em;
        background-color: black;
        padding: 2px;
    }
    .recommend-item .recommend-item-inner {
        border-radius: 2px;
        background: white;
    }
    .recommend-item .recommend-item-more {
        right: 2px;
        bottom: 2px;
        top: 2px;
    }
    .recommend-item .recommend-item-header{
        padding-bottom: 10px;
    }
    .recommend-item .recommend-item-header .name{
        font-size: 1em;
    }
    .recommend-item .recommend-item-header .story-intro{
        font-size: .6em;
        height: 14px;
    }
    .recommend-item .recommend-item-main{
        min-height: 5em;
    }
    .recommend-item .recommend-item-main p{
        font-size: .85em;
        line-height: 1.5em;
        overflow: hidden;
        max-height: 3em;
    }
}