.main-wrap >.article-wrap{
    background: #FFF;
    width: 1000px;
    margin: 20px auto;
}
.main-wrap >.article-wrap >.text{
    font-size: 14px;
}

.main-wrap >.article-wrap >.title{
    background-position-x: 3.8%;
}