/* webkit, opera, IE9 */
::selection{
    background:#e44c65;
    text-shadow:none;
    color:#fff;
}
/* mozilla firefox */
::-moz-selection{
    background:#e44c65;
    text-shadow:none;
    color:#fff;
}

::-webkit-scrollbar{width:10px;height:8px;}
::-webkit-scrollbar-button{display:none}
::-webkit-scrollbar-track{background-color:black}
::-webkit-scrollbar-track-piece{background:#ddd}
::-webkit-scrollbar-thumb{background-color: #e44c65;}
::-webkit-scrollbar-thumb:hover{background-color:#3B3B3B}
::-webkit-scrollbar-corner{background-color:#535353}
::-webkit-scrollbar-resizer{background-color:#FF6E00}

body, input, select, textarea {
    font-family: '微软雅黑', 'Open Sans', 'Microsoft YaHei', sans-serif!important;
    text-shadow: 0 0 3px rgba(228, 76, 101, .3);
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ol, ul {
    list-style: none;
}
ul {
    margin: 0 0 2em 0;
    padding-left: 1em;
}
ul li {
    padding-left: 0.5em;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #e44c65;
    transition: color ease .2s;
}
html, body{
    overflow-x: hidden;
}
body{
    margin: 0;
}
@-moz-keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spinner-hide {
    0% {
        color: rgba(255, 255, 255, 0.15);
        z-index: 100001;
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    99% {
        color: #1c1d26;
        z-index: 100001;
        -moz-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        -ms-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        color: #1c1d26;
        z-index: -1;
        -moz-transform: scale(0) rotate(360deg);
        -webkit-transform: scale(0) rotate(360deg);
        -ms-transform: scale(0) rotate(360deg);
        transform: scale(0) rotate(360deg);
    }
}

@-ms-keyframes spinner-hide {
    0% {
        color: rgba(255, 255, 255, 0.15);
        z-index: 100001;
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    99% {
        color: #1c1d26;
        z-index: 100001;
        -moz-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        -ms-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        color: #1c1d26;
        z-index: -1;
        -moz-transform: scale(0) rotate(360deg);
        -webkit-transform: scale(0) rotate(360deg);
        -ms-transform: scale(0) rotate(360deg);
        transform: scale(0) rotate(360deg);
    }
}

@keyframes spinner-hide {
    0% {
        color: rgba(255, 255, 255, 0.15);
        z-index: 100001;
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    99% {
        color: #1c1d26;
        z-index: 100001;
        -moz-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        -ms-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        color: #1c1d26;
        z-index: -1;
        -moz-transform: scale(0) rotate(360deg);
        -webkit-transform: scale(0) rotate(360deg);
        -ms-transform: scale(0) rotate(360deg);
        transform: scale(0) rotate(360deg);
    }
}

@-moz-keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-ms-keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-moz-keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 100000;
    }

    15% {
        opacity: 1;
        z-index: 100000;
    }

    99% {
        opacity: 0;
        z-index: 100000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 100000;
    }

    15% {
        opacity: 1;
        z-index: 100000;
    }

    99% {
        opacity: 0;
        z-index: 100000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-ms-keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 100000;
    }

    15% {
        opacity: 1;
        z-index: 100000;
    }

    99% {
        opacity: 0;
        z-index: 100000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 100000;
    }

    15% {
        opacity: 1;
        z-index: 100000;
    }

    99% {
        opacity: 0;
        z-index: 100000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

body.landing {
    text-decoration: none;
}

body.landing:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

body.landing:before {
    -moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    color: rgba(255, 255, 255, 0.15);
    content: '\f1ce';
    cursor: default;
    display: block;
    font-size: 2em;
    height: 2em;
    left: 50%;
    line-height: 2em;
    margin: -1em 0 0 -1em;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 2em;
    z-index: -1;
}

body.landing:after {
    -moz-animation: overlay-hide 1.5s ease-in forwards !important;
    -webkit-animation: overlay-hide 1.5s ease-in forwards !important;
    -ms-animation: overlay-hide 1.5s ease-in forwards !important;
    animation: overlay-hide 1.5s ease-in forwards !important;
    background: #1c1d26;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

body.landing.is-loading:before {
    -moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    -ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    z-index: 100001;
}

body.landing.is-loading:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    opacity: 1;
    z-index: 100000;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
#app{
    height: 100%;
}
.container {
    width: 100%;
}
.main-wrap{
    background: white;
    overflow: hidden;
    width: 100%;
}
.main-wrap.blog{
    background: none;
}
.main-wrap.blog::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url("/static/images/default/right-bg.png") no-repeat right;
    background-position: right -50px bottom -30vh;
    pointer-events: none;
    background-size: contain;
    position: fixed;
    z-index: -1;
    top: 0;
    background-color: white;
    background-blend-mode: multiply;
}

#error{
    background: #393f77;
    height: 100vh;
    color: white;
    text-shadow: 5px 5px 10px black;
    padding: 50px;
    width: 100%;
    overflow-x: hidden;
}
@media screen and (max-width: 736px){
    html, body {
        overflow-x: hidden;
    }
    html, body{
        overflow-x: hidden;
    }
}

.article-html {
    word-break: break-word;
}
.article-html blockquote {
    padding: .6em 1.2em;
    margin: 0 0 1.2em;
    font-size: 1em;
    line-height: 2;
    border-left: .3em solid #eee;
}
.article-html blockquote p{
    margin: 0 0 .6em;
}
.article-html blockquote p:last-child{
    margin: 0;
}
.article-html h1{
    font-size: 1.8em;
}
.article-html h2{
    font-size: 1.5em;
}
.article-html h3{
    font-size: 1.17em;
}
.article-html h4{
    font-size: 1em;
}
.article-html h5{
    font-size: .85em;
}
.article-html h6{
    font-size: .67em;
}
.article-html h1, .article-html h2, .article-html h3{
    font-weight: 500;
    line-height: 1.5em;
    margin: 1em 0 .8em 0;
}
.article-html h4, .article-html h5, .article-html h6 {
    font-weight: 500;
    line-height: 1.5em;
    margin: .8em 0;
}
.article-html hr {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    border: 0;
    border-top: 1px solid #bbb;
}
.article-html ul {
    margin: 0 0 .2em 0;
    padding-left: 2em;
    list-style-type: disc;
}
.article-html ul li {
    padding-left: 0;
    list-style-type: inherit;
    line-height: 2;
}
.article-html ul ul, .article-html ol ul {
    list-style-type: circle;
}
.article-html ol{
    list-style-type: decimal;
    margin-top: 0;
}
.article-html ol ol ul, .article-html ol ul ul, .article-html ul ol ul, .article-html ul ul ul {
    list-style-type: square;
}
.article-html ol li {
    line-height: 2;
}
.article-html ol p, .article-html li p {
    margin: 0 0 .6em;
}
.article-html >p {
    line-height: 2em;
}
.article-html pre{
    line-height: 2em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    word-spacing: normal;
    hyphens: none;
    color: #c7254e;
    border-radius: 4px;
    background-color: #2d2d2d;
    overflow: auto;
    padding: .3em .6em;
}
.article-html code {
    line-height: 2em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    word-spacing: normal;
    hyphens: none;
    padding: 2px 4px;
    font-size: .9em;
    color: #c7254e;
    border-radius: 4px;
    background-color: #f9f2f4;
}
.article-html pre >code{
    background-color: transparent;
    display: block;
    overflow-x: auto;
}

.article-html table{
    border: 1px solid #eee;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.2em;
}
.article-html table>caption+thead>tr:first-child>td, .article-html table>caption+thead>tr:first-child>th, .article-html table>colgroup+thead>tr:first-child>td, .article-html table>colgroup+thead>tr:first-child>th, .article-html table>thead:first-child>tr:first-child>td, .article-html table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.article-html table>tbody>tr:nth-of-type(odd) {
    background-color: white;
}
.article-html table>tbody>tr:nth-of-type(even) {
    background-color: white;
}
.article-html table>tbody>tr>td, .article-html table>tbody>tr>th, .article-html table>tfoot>tr>td, .article-html table>tfoot>tr>th, .article-html table>thead>tr>td, .article-html table>thead>tr>th {
    border: 1px solid #eee;
}
.article-html table>thead>tr>th {
    border-bottom-width: 1px;
    background: #f3f3f3;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #eee;
}
.article-html table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #eee;
}
.article-html th {
    text-align: left;
}
.article-html td, th {
    padding: 0;
}
.article-html table>tbody>tr>td, .article-html table>tbody>tr>th, .article-html table>tfoot>tr>td, .article-html table>tfoot>tr>th, .article-html table>thead>tr>td, .article-html table>thead>tr>th {
    padding: .85em 1.7em;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #eee;
}
.article-html a{
    color: #e44c65;
    transition: color ease .2s;
    font-weight: 400;
}
.article-html a:hover{
    color: #cc4861;
    text-decoration: underline;
}
.article-html img{
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.article-html abbr{
    cursor: help;
}
.article-html mark{
    padding: .2em;
    background-color: #fcf8e3;
}
.article-html dd{
    margin-left: 0;
}
.article-html dt{
    font-weight: bold;
}
.article-html p{
    margin: 0 0 .8em;
}
.article-html >img{
    margin: 0 0 .8em;
}
.article-html .warning{
    background: #ff8;
    padding: 20px;
    border-radius: 6px;
}
.article-html .footnotes{
    column-count: 2;
}
@media screen and (max-width: 736px){
    .article-html{
        font-size: .85em;
    }
    .article-html pre {
        -webkit-overflow-scrolling: touch;
        line-height: 1.5em;
    }
    .article-html >p{
        line-height: 1.8em;
    }
    .article-html blockquote{
        padding: .4em 1.2em
    }
    .article-html p, .article-html ol p, .article-html li p {
        margin: 0 0 .6em;
    }{
        margin: 0 0 .4em;
    }
    .article-html >img{
        margin: 0 0 .4em;
    }
    ::-webkit-scrollbar{
        width: 3px;
        height: 3px;
    }
    .article-html hr{
        margin-top: .8em;
        margin-bottom: .8em;
    }
    .article-html .footnotes{
        column-count: 1;
    }
}